#canvas-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#programming-area{
  min-width: 100%;
  min-height: 250px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blocks-area{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  position: absolute;
  bottom: 0px;
}

#execution-area{
  max-width: 960px;
  min-width: 400px;
  height: 90px;
  background-color: bisque;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 8px;
  max-width: 800px;
  overflow: auto;

}
body{
  margin: 0;
}


.source-block{
  max-width: 80px;
  max-height: 80px;
  margin: 8px;
}

.executable-block{
  max-width: 80px;
  max-height: 72.8125px;
  min-width: 80px;
  min-height: 72.8125px;
}
