#canvas-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#playButton{
  width: 80px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  padding: 1%;
}

#playButtonImage{
  max-width: 60%;
}
#playButton:hover{
  padding: 0;
}


#programming-area{
  min-width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blocks-area{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
#scrollright, #scrollleft{
  height: 100px;
  width:40px;
  position: fixed;
}

#scrollleft{
  left: 0px;
}
#scrollright{
  right: 0px;
}

#execution-area{
  max-width: 800px;
  width: 800px;
  height: 90px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 8px;
  max-width: 800px;
  overflow: hidden;
  position: relative;

}
body{
  margin: 0;
}


.source-block{
  max-width: 80px;
  max-height: 80px;
  margin: 8px;
}

.executable-block{
  max-width: 80px;
  max-height: 72.8125px;
  min-width: 80px;
  min-height: 72.8125px;
}
